body {
    margin: 0;
    max-width: 100% !important;
    font-family: 'Neue Helvetica', sans-serif;
}

.p1-img-div img {
    height: 0;
    min-height: 100%;
    max-width: 100vw;
}

.container {
    max-width: 97vw;
    margin: 0 auto;
}

.full {
    height: 90vh;
}

.p1-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p1-img-div {
    flex-grow: 1;
    max-height: 70vh;
    padding: 60px 5px 0 5px;
}

.p1-text {
    text-align: center;
}

.ilustra-bold {
    font-weight: 700;
    margin-left: 20px;
}

.paulailustra {
    font-size: 15vw;
    font-weight: 300;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.paulailustra-sub {
    margin-top: -5px;
    font-size: 6.5vw;
    font-weight: 300;
}

.arrow {
    margin-top: auto;
    font-size: 1.5rem;
    color: rgb(207, 207, 207)
}

.p5 {
    position: relative;
}

.p5-image {
    background-image: url(img/aciano_rama.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 70vw;
    margin-left: auto;
}

.p5-text {
    font-size: 5rem;
    font-weight: 700;
    position: absolute;
    top: 60%;
    z-index: -1;
    margin-left: 5px;
    background: #000000;
    background: -webkit-linear-gradient(to right, #000000 45%, #FFFFFF 100%);
    background: -moz-linear-gradient(to right, #000000 45%, #FFFFFF 100%);
    background: linear-gradient(to right, #000000 45%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p7 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.p7-img {
    width: 100%;
    margin: 10px 0;
}

.p7-img img {
    width: 100%;
}

.hola {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    display: block;
    margin: 5px 10px;
    font-size: 3rem;
    font-weight: 300;
}

.right {
    text-align: right;
}

.bold {
    font-weight: 700;
}

.hola-img {
    height: 60vh ;
    width: calc(100% - 20px);
    padding-left: 20px;
    margin-top: -80px;
    background-image: url(img/pez.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: 20px;
}

.instagram {
    align-self: flex-start;
    font-size: 1.25rem;
    margin-left: 10px;
    margin-top: -50px;
}

.investigo {
    height: 100vh;
    background-image: url(img/aciano_rama.png);
    background-repeat: no-repeat;
    background-size: 110% auto;
    background-position-x: -35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.investigo .text {
    margin: 0;
    margin-top: 60%;
    padding-right: 10px;
}

.fa-researchgate {
    font-size: 2.5rem;
    margin-right: 10px;
    margin-top: 10%;
    align-self: flex-end;
}

.escarabajo {
    width: 100%;
    height: 100vh;
    background-image: url(img/tropinota_iec.jpg);
    background-position: 20vw center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}